<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">

    <div class="col-md-4">
      <h3><%= @product.name %></h3>
          <%= image_tag @product.avatar,:style=>"width: 344px;"%>
    </div>

    <div class="col-md-8">
        <h3>Description</h3>
        <p><%= @product.description %></p>
    </div>

  </div><br>  
</div>